body {
    background-color: #cca368;
    margin-left: 300px;
    margin-right: 300px;
  }
  
  
  #blogtitle {
    text-align: center;
  }
  
  #blogsubtitle {
    text-align: center;
    font-style: italic;
  }
  
  p:first-child {
    background-color: white;
  }
  
  footer {
   font-size: 20px;
    text-align: center;
  }